{% extends 'auth_layout/app.html' %}

{% block title %} Register {% endblock title %}

{% block heading %}
    Create an account with your credentials
{% endblock heading %}

{% block body %}
    <form method="post">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="username" placeholder="Enter username" minlength="3" maxlength="15" required>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="first_name" class="form-label">First name</label>
                    <input type="text" name="first_name" class="form-control" id="first_name" placeholder="Enter first name" minlength="3" maxlength="15" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last name</label>
                    <input type="text" name="last_name" class="form-control" id="last_name" placeholder="Enter last name" minlength="3" maxlength="15" required>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" name="email" class="form-control" id="email" placeholder="Enter email" required>
        </div>
        <div class="mb-3">
            <label for="phone_number" class="form-label">Phone number</label>
            <div class="row">
                <div class="col-md-2 col-sm-3 col-4 phno_code">
                    <input type="number" value="+91 " readonly placeholder="+91" class="form-control">
                </div>
                <div class="col-md-10 col-sm-9 col-8 phno">
                    <input type="number" name="phone_number" class="form-control" id="phone_number" placeholder="Enter phone number" required>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="state" class="form-label">State</label>
                    <input type="text" name="state" class="form-control" id="state" placeholder="Enter state" minlength="3" maxlength="15" required>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="city" class="form-label">City</label>
                    <input type="text" name="city" class="form-control" id="city" placeholder="Enter city" minlength="3" maxlength="15" required>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Enter password" minlength="3" maxlength="15" required>
        </div>
        <p class="mt-3">Already have an account <a href="{{ url_for('login') }}">login</a></p>
        {% if type == 'hr' %}
        
        {% else %}
            <p class="mt-3">Register a Job recruiter <a href="{{ url_for('hr_register') }}">click here</a></p>
        {% endif %}
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock body %} 